<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
	<Appenders>

		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<!-- Rolling File Appender -->
		<RollingFile name="RollingFile"
			fileName="c:/temp/log/app.log"
			filePattern="c:/temp/log/app-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<!-- Rotate file if it exceeds 10MB -->
				<SizeBasedTriggeringPolicy size="10MB" />
				<!-- Also roll over daily if needed -->
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<!-- Root logger config -->
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>
